.head {
    height: 500px;
    width: 500px;
    border: 5px solid black;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template: repeat(8, 1fr)/repeat(8, 1fr);
}

h1 {
    margin-left: 40%;
    margin-top: 50px;
    font-size: 50px;
}